.kotak {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 10px dashed rgb(0, 17, 255);
    padding: 5px;
    margin: 50px;
    text-align: center;
    line-height: 100px;
}
.kotak-bulat {
    border-radius: 50%;
}